# Base de datos (Supabase)
DATABASE_URL=postgresql://postgres.xxxx:PASSWORD@aws-0-us-east-1.pooler.supabase.com:6543/postgres

# Redis (Railway)
REDIS_URL=redis://default:PASS@HOST.railway.internal:6379
REDIS_PUBLIC_URL=redis://default:PASS@roundhouse.proxy.rlwy.net:PORT

# JWT — genera con: node -e "require('crypto').randomBytes(64).toString('base64')"
JWT_SECRET=DEOpQSvF/WXvI6PMGWdkpy9P8IDywAoDcOL4WfC3OTNOBo1izPJZhlHQ+smR2NVCdpg52meBz6I5aFXbmoJ94Q==

# Cloudinary
CLOUDINARY_CLOUD_NAME=djfer9a6i
CLOUDINARY_API_KEY=343644316386718
CLOUDINARY_API_SECRET=CAMBIA_ESTO
CLOUDINARY_PRESET_IMAGENES=campo_imagenes
CLOUDINARY_PRESET_DOCS=campo_docs

# Servidor
PORT=3002
NODE_ENV=development
